In [41]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import numpy as np
reviews = pd.read_excel('demo2.xlsx')
sid = SentimentIntensityAnalyzer()

In [45]:
temp = reviews['reviews'].apply(
    lambda x : [sid.polarity_scores(x)["neg"],sid.polarity_scores(x)["neu"],sid.polarity_scores(x)["pos"],sid.polarity_scores(x)["compound"]])

In [37]:
# reviews['neg'], reviews['neu'], reviews['pos'], reviews['compound'] = temp

ValueError: too many values to unpack (expected 4)

In [47]:
df_temp = pd.DataFrame(temp)
print(df_temp)

                       reviews
0  [0.0, 0.472, 0.528, 0.7717]
1  [0.0, 0.631, 0.369, 0.6249]
2  [0.0, 0.594, 0.406, 0.6249]
3         [0.0, 1.0, 0.0, 0.0]
4  [0.0, 0.631, 0.369, 0.6249]

In [34]:
reviews['neg'], reviews['neu'], reviews['pos'], reviews['compound'] = reviews['reviews'].apply(
    lambda x : [sid.polarity_scores(x)["neg"],sid.polarity_scores(x)["neu"],sid.polarity_scores(x)["pos"],sid.polarity_scores(x)["compound"]])

ValueError: too many values to unpack (expected 4)

In [32]:
reviews['neg'], reviews['neu'], reviews['pos'], reviews['compound'] = reviews['reviews'].apply(
lambda x: sid.polarity_scores(x)["neg"]), reviews['reviews'].apply(lambda x: sid.polarity_scores(x)["neu"]), reviews['reviews'].apply(lambda x: sid.polarity_scores(x)["pos"]), reviews['reviews'].apply(lambda x: sid.polarity_scores(x)["compound"])

In [31]:
print(reviews)

   Unnamed: 0                                            reviews  neg    neu  \
0           1  Cute and cozy place. Perfect location to every...  0.0  0.472
1           2  Kelly has a great room in a very central locat...  0.0  0.631
2           3  Very spacious apartment, and in a great neighb...  0.0  0.594
3           4  Close to Seattle Center and all it has to offe...  0.0  1.000
4           5  Kelly was a great host and very accommodating ...  0.0  0.631

     pos  compound
0  0.528    0.7717
1  0.369    0.6249
2  0.406    0.6249
3  0.000    0.0000
4  0.369    0.6249

In [19]:
print(temp)

0    [0.0, 0.0]
1    [0.0, 0.0]
2    [0.0, 0.0]
3    [0.0, 0.0]
4    [0.0, 0.0]
Name: reviews, dtype: object

In [25]:
reviews[['neg','neu']] = [temp]

KeyError: "None of [Index(['neg', 'neu'], dtype='object')] are in the [columns]"

In [22]:
temp = reviews['reviews'].apply(lambda x: sid.polarity_scores(x))

# print(reviews)
reviews['neg','neu','pos','compound'] = reviews['reviews'].apply(lambda x: [sid.polarity_scores(x)["neg"],sid.polarity_scores(x)["neu"],sid.polarity_scores(x)["pos"],sid.polarity_scores(x)["compound"]])

In [23]:
# reviews['neg','neu','pos','compound'] = reviews['reviews'].apply(lambda x: sid.polarity_scores(x)["neg"])
reviews.head()

,Unnamed: 0,reviews,"(neg, neu)","(neg, neu, pos, compound)"
0,1,Cute and cozy place. Perfect location to every...,"[0.0, 0.0]","[0.0, 0.472, 0.528, 0.7717]"
1,2,Kelly has a great room in a very central locat...,"[0.0, 0.0]","[0.0, 0.631, 0.369, 0.6249]"
2,3,"Very spacious apartment, and in a great neighb...","[0.0, 0.0]","[0.0, 0.594, 0.406, 0.6249]"
3,4,Close to Seattle Center and all it has to offe...,"[0.0, 0.0]","[0.0, 1.0, 0.0, 0.0]"
4,5,Kelly was a great host and very accommodating ...,"[0.0, 0.0]","[0.0, 0.631, 0.369, 0.6249]"

In [7]:
df = pd.DataFrame({"name": ['Superman', 'Batman', 'Spiderman'],
                   "toy": [np.nan, 'Batmobile', 'Spiderman toy'],
                   "born": [pd.NaT, pd.Timestamp("1956-06-26"),
                            pd.NaT]})
df

        name            toy       born
0   Superman            NaN        NaT
1     Batman      Batmobile 1956-06-26
2  Spiderman  Spiderman toy        NaT

In [8]:
for item in df["toy"]:
    print(type(item))

<class 'float'>
<class 'str'>
<class 'str'>

In [6]:
df.dropna()

     name        toy       born
1  Batman  Batmobile 1956-06-26